.modal-content-wrapper {
  border: 2px solid white;
  padding: 30px;
  background: black;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 10%;
}


td > input {
  width:100%;
  background: black;
  color: darkgrey;
  border: 1px solid green;
  border-radius: 5px;
  padding-left: 10px;
}

td > span {
  padding-right: 10px;
}

div > input {
  margin-left: 5px;
  border: 3px solid transparent;
  border-radius: 5px;
  color: white;
  background: gray;
}

.validation-alert {
  text-align: center;
  background: #e01a2b;
  color: white;
}
